<div class="container ">
    <header>
        <img src="../../../assets/images/pokeball.png" alt="Logo" width="70px">
        <h1>Pokesino</h1>
    </header>
    <div class="card" style="width: 22rem;">
        <div class="card-body">
          <h3 class="card-title">Reset password...</h3>
          <p>Please follow the steps indicated in the email just sent to you to reset your password !</p>
          <hr>
          <form>
            <div class="form-row">
              <div class="col">
                <input type="email" class="form-control" placeholder="Email" id="email">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">SEND EMAIL</button>
            <p id="not-received">Didn't receive this email ? <a href="#">Click here</a></p>
            <p id="remember">Do you remember your password ? <a routerLink="/sign-in">Login here</a></p>
        </form>
        </div>
      </div>
</div>
