.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-family: "Grobold", serif;
    font-size: 2.8em;
    margin-left: 10px;
    color: #ffffff;
}

.card {
    border: none;
}

h3 {
    font-weight: 600;
}

input {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: none;
}

input::placeholder {
    font-size: small;
}

button {
    width: 100%;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    background-color: #63b2e6;
}

p, label {
    color: grey;
    font-size: small;
    font-weight: 600;
}

a {
    color: #63b2e6;
}

#already-register {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}